<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body class="p-3 mb-2 bg-dark text-white">
<div class="container ">
    <div class="jumbotron">
    
       <h1 class="text-warning text-center" >CartolaFC</h1>
        <h5 class="display-4, text-dark text-center">
            Crie seu Time !
        </h5>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3>Conheça os Times</h3>
            <p>
                Aqui você pode acessar as equipes cadastradas ou adicionar novas.
            </p>
            <p>
                <a class="btn btn-warning" href="/times/listar">Create Team</a>
            </p>
        </div>
    </div>

    <hr/>
    <footer class="footer">
        <p>&copy;Felipe Dias Produções 2018 Pós web</p>
    </footer>
</div>
</body>
</html>